[2015-11-26 22:37] pazams opened #1 "scroll doesn't go to expected element in responsive design"
@zengabor thanks for this great module.
I think I've found a bug.

**the flow:**
1. goto http://plnkr.co/edit/N9iGxvHYz6eAXLCHEhmc?p=preview
2. shrink the size of the window so the 3 divs will be stacked one below the other.
3. find the text input at bottom of the page, and type "foo2"
4. click "scroll" button.

**result:**
scrolling to top of the screen.

**expected result:**
scrolling to top of

[2015-11-27 07:21] zengabor commented on #1
Thank you very much @pazams for reporting it. Looks like this is because plnkr.co runs the code in an iframe and Zenscroll isn't prepared for that. Give me some time to fix it.

[2015-11-27 09:07] pazams commented on #1
@zengabor thanks for your quick response.
When removing the responsive bootstrap elements, the scrolling works as expected - http://plnkr.co/edit/ijvrKf?p=preview
Furthermore, I ran these 2 demos from localhost with no iframes, and they demonstrated the  same behaviour as when ran through plnkr.co

[2015-11-27 09:09] zengabor commented on #1
Thank you! I am going to check the compatibility with those responsive bootstrap elements then.

[2015-11-27 10:05] pazams commented on #1
compare http://plnkr.co/edit/HF51VG?p=preview linked to the fork with the fix,
to http://plnkr.co/edit/N9iGxvHYz6eAXLCHEhmc?p=preview  with the original behavior.
The PR referenced above doesn't fix the premature scroll stop. I've opened a separate issue https://github.com/zengabor/zenscroll/issues/3

[2015-11-28 10:58] pazams opened #3 "scroll stops after first iteration, multiple calls needed to trigger continous loop."
as mentioned also in https://github.com/zengabor/zenscroll/issues/1, this now seems to a separate issue, as fixing the element top calculation doesn't fix the premature scroll stop.

**the flow:**
1. goto http://plnkr.co/edit/N9iGxvHYz6eAXLCHEhmc?p=preview
2. shrink the size of the window so the 3 divs will be stacked one below the other.
3. find the text input at bottom of the page, and type "foo

[2016-01-14 05:36] apod42 opened #4 "Does not work with images that have an anchor link"
Hello,

Apparently script does not work with images that have an anchor link. If I replace the image with the text "go back to top", the script works ok.

<a href="#back_to_top"><img id="my_image" src="http://www.example.com/top.png" alt="Back to top" /></a>

Demo here: https://jsfiddle.net/gydbjqua/

The anchor link containing text works, the one with the image does not work.

[2016-01-14 05:40] apod42 commented on #4
I see the code I entered is formated as html in the box above...

[2016-01-14 09:10] zengabor commented on #4
Thanks for reporting it, @apod42. I can reproduce this bug. I am going to fix it.

[2016-01-15 08:56] zengabor commented on #4
Fixed it yesterday. There will be a new version soon. I just need to test all functionality (including image links) in all browsers now. I can probably release it in 14 hours or so. Thanks again, @apod42

[2016-01-15 09:23] apod42 commented on #4
Thank you, waiting patiently for the new version :)

[2016-01-15 20:49] zengabor commented on #4
Just released version 2.0.0 which fixes this issue.
https://github.com/zengabor/zenscroll

Thanks, @apod42

[2016-01-15 20:49] #4 closed

[2016-01-15 20:49] zengabor commented on #3
Just released version 2.0.0 which fixes this issue.
https://github.com/zengabor/zenscroll

Thanks for your help, @pazams!

[2016-01-15 20:49] #3 closed

[2016-01-15 20:50] zengabor commented on #1
Just released version 2.0.0 which fixes this issue.
https://github.com/zengabor/zenscroll

Thanks for your help, @pazams

[2016-01-15 20:50] #1 closed

[2016-01-15 20:51] rstacruz opened #5 "prevent anchor behavior"
I'd like to use `zenscroll.intoView()` but I don't really want the smooth scrolling to happen when I click on anchor links. Is there a way to disable that behavior?

[2016-01-15 21:04] zengabor commented on #5
The funny thing is I just released 2.0.0 a few minutes ago which removed the possibility of disabling that behavior. :) I did it because it makes the code simpler and shorter, and thought that no-one would want to disable it anyway.

You can easily disable it by commenting out the following line:

[code]

Or I could add back something like `zenscroll.stop()`

[2016-01-15 21:47] zengabor commented on #5
Alright, just released version 2.1.0 for you. Set `window.noZensmooth` to a non-false value and the event handler for automatic smoothing will not be installed but you can still use everything, like `zenscroll.intoView()`, etc.

[code]

(I consider this a rare scenario that’s why I keep the default behavior of installing the event handler.)

[2016-01-15 21:47] #5 closed

[2016-01-15 23:28] rstacruz commented on #5
Neat. Thanks!

On Saturday, January 16, 2016, Gabor Lenard notifications@github.com
wrote:

[2016-01-21 10:06] apod42 opened #6 "Does not work in an iframe, only on iOS"
Hello,

1. Start with two html files, main.html and iframe.html.
2. Add the script to iframe.html (this file should contain some anchor links, to test the navigation).
3. From main.html call iframe.html in an iframe: <iframe src="iframe.html" style="width:50%;height:50%;"/>

The script does not work in this case. When the user clicks on an anchor link nothing happens (not even the jump to the sele

[2016-01-22 12:28] zengabor commented on #6
@apod42 could you share the code on jsfiddle or somewhere so I can take a look?

[2016-01-22 13:58] apod42 commented on #6
Thank you! For a working example please see here: http://www.nightskyinfo.com/iframe/

Source code of the main html file: http://www.nightskyinfo.com/iframe/index.txt

Souce code of the html file beeing iframed here: http://www.nightskyinfo.com/iframe/iframe.txt

[2016-01-22 14:00] apod42 commented on #6
Notice that the iframe is wrapped in a div to make iOS diplay it like an iframe..

[2016-01-22 14:32] zengabor commented on #6
Thank you. I can reproduce the issue. I will look into this.

[2016-02-09 22:59] IjzerenHein opened #8 "Library import not working with ES2015"
Hi, I'm trying to use your awesome library in an ES2015 project (babel, webpack & react), but there seems something wrong with the UMD definition of the zenscroll library. I've installed the library using NPM and am importing it like this:

```import zenscroll from 'zenscroll'```

This however doesn't work. When I inspect the result, it shows me this:

![image](https://cloud.githubusercontent.com/

[2016-02-10 19:00] zengabor commented on #8
Thank you @IjzerenHein

I need to look into this. It is probably easy to fix but I need to understand it first.

[2016-02-10 19:03] IjzerenHein commented on #8
Awesome, if I can help in any way let me know.

You can reproduce the issue by running the demo, and clicking the 'Next' button (all the way at the bottom). The exception will show up in the console.
https://rawgit.com/IjzerenHein/zenscroll-es6-issue/master/www/index.html

cheers, Hein

[2016-02-10 21:06] zengabor commented on #8
Didn’t make a full investigation, just a quick look but I already suspect what the issue is. Currently the very last line of zenscroll.js is:

[code]

For a quick fix you could try changing that line to:

[code]

Let me know if it works for you.

[2016-02-10 21:33] IjzerenHein commented on #8
I've tried, but unfortunately it doesn't work.

[2016-02-10 22:11] IjzerenHein commented on #8
To elaborate. When I change `this` to `window`, other code breaks down. Since `win` no longer refers to the `window` object, calls like `win.scrollTo()` and `win.addEventListener()` now fail. When I modified these calls to use the window object explicitly it all works fine.

[2016-02-15 10:31] re6exp commented on #8
The library is not usable with webpack.

[2016-02-15 14:43] zengabor commented on #8
Sorry about that @re6exp and thanks for the info. Once I familiarized myself with these things, I can probably find a solution. :)

[2016-02-16 13:10] zengabor commented on #8
Looks like fixing this is very simple: what is currently assigned to `window` must be assigned to `module.exports` and then it will work in this module framework. So I need to wrap everything in a few `if` conditions to detect that environment.

I am going to release a new version, probably already tonight (in 10 hours or so).

It will be a new major version as the interface for new scrollers (e.g

[2016-02-16 13:14] IjzerenHein commented on #8
Awesome, thanks a lot!

[2016-02-16 18:28] zengabor commented on #8
I am already testing the new version in the different browsers. So far it works alright in Chrome (Android & OS X), Safari (iOS & OS X). No functional change, just this little re-packaging.

If you want you can already grab the "beta" here: https://github.com/zengabor/zenscroll/blob/gh-pages/zenscroll.js

[2016-02-16 22:48] zengabor commented on #8
Just released 3.0.0 which should fix the issue, @IjzerenHein and @re6exp

[2016-02-16 22:48] #8 closed

[2016-02-17 07:08] IjzerenHein commented on #8
Nice, I just confirmed that the problem has been fixed.
Using `import zenscroll from 'zenscroll'` now works as expected.

Thanks very much! :)

[2016-02-17 07:10] zengabor commented on #8
Thanks for reporting and sorry about the trouble.

Note that I just released 3.0.1 with improved detection of the native smooth-scroll setting in the browser.

[2016-02-20 12:25] re6exp commented on #8
Works great!
Thank you!

[2016-03-18 23:21] dsernst opened #9 "'ReferenceError: document is not defined' when used in server rendered React"
Adding Zenscroll leads to a fatal error in server-side rendered React applications.

[code]

This happens as soon as the module is imported. Still a problem even if none of its methods will be invoked during the server's pre-render.

Just needs to ensure `document` exists, and silently skip that function if not.

[2016-03-21 06:57] zengabor commented on #9
Hi @dsernst

Sorry about that. I thought Zenscroll would be used only in browsers.

A fix for this is simple but this might be not the only error, so I need to test it in a non-browser environment. Give me some time.

[2016-03-21 17:58] dsernst commented on #9
No worries, thanks for the quick response.

Here's a reference of another module that went through this fix: https://github.com/troybetz/react-youtube/issues/57 (and other linked issues and commits)

[2016-03-21 19:17] dsernst commented on #9
Here's a temp fix in case anyone else has this problem:

[code]

This waits until after the component mounts before importing the library, so that it's skipped during server-side pre-render.

[2016-05-02 07:32] Lanchez opened #10 "Scroll-behavior: smooth breaks scrolling at least with IE 11"
IE throws this error if scroll-behavior: smooth is used on a scrolling container "Object doesn't support property or method 'scrollTo'"

[2016-05-02 08:40] zengabor commented on #10
Thank you for reporting, I will look into that

[2016-05-02 08:43] zengabor commented on #10
@Lanchez I could not reproduce it on first try. Do you have an example code that I could use?

[2016-05-03 16:12] eddts opened #11 "Can't adjust edgeOffset"
Thanks for the library, just what i needed, but...

`if (!edgeOffset || edgeOffset !== 0) {
	// When scrolling, this amount of distance is kept from the edges of the scrollContainer:
	edgeOffset = 9 //px
}`

... If edgeOffset is false (0, null, undefined), or it's not exactly 0...

That conditional can never fail, so it always set's the offset to 9px!

[2016-05-03 16:43] zengabor commented on #11
Oops, that should be obviously `&&`

Sorry about that. Will release a fix soon.

[2016-05-04 17:32] nilssolanki opened #12 "Add a callback option"
I'm doing some animations that depend on the scroll finishing. `setTimeout` is not accurate enough unfortunately.

Could you add an option to provide a callback on scrollend?

E.g. something like:

    zenscroll.toY(50).onEnd(myCallback);

Promise-based would of course be even more beautiful, but it might bloat your library.

[2016-05-05 10:19] zengabor commented on #12
That's a great idea. I could also use that. Thanks!

You are right, using promises would be very elegant but older browsers don't support it, and polyfills are quite large. I will probably just add another parameter at the end of each function, which is quite straightforward. It would look like this:

[code]

(Where passing a falsy value like `null` as the second parameter makes sure that the defa

[2016-05-05 11:20] #10 closed

[2016-05-05 18:06] #9 closed

[2016-05-05 18:06] #11 closed

[2016-05-05 18:10] zengabor commented on #9
Hi @dsernst, this is now fixed in 3.0.2

[2016-05-05 18:10] zengabor commented on #11
Hi @eddts, this is now fixed in 3.0.2

[2016-05-06 17:28] eddts commented on #11
Brilliant, thanks again for library!

[2016-05-08 19:20] zengabor commented on #12
This is now implemented in version 3.1.0
Thanks for the great idea, @nilssolanki!

[2016-05-08 19:20] #12 closed

[2016-05-09 07:48] nilssolanki commented on #12
Thank you for implementing this so quickly! I was gone for the weekend, so this was a beautiful surprise :)

[2016-05-13 11:36] rhewitt22 opened #13 "Don't scroll on empty hash"
I have a nested navigation bar composed of links, which support keyboard navigation of the menu through the use of the tab key.  The top level items trigger submenus (`href="#"`) and are not intended to trigger scrolling (zenscroll automatically scrolls to the top of the page in this scenario).

Is there any way to disable auto scrolling if the hash is empty beyond the hash itself?

[2016-05-13 11:38] rhewitt22 commented on #13
![may-13-2016 07-37-33](https://cloud.githubusercontent.com/assets/3673374/15246798/9aa10f40-18dd-11e6-9a3a-cd5d6f517cff.gif)

[2016-05-13 12:38] zengabor commented on #13
I understand your proposal. It would be also easy to implement. The thing is, however, that `href="#"` is a valid local reference, pointing to the top of the page. Zenscroll is trying to do the right thing here as long as these links stay as they are.

Is there a way you can change those links? For example, to `href="javascript:void(0)"`. Another way is to use a non-existing id, like `href="#zen"`

[2016-05-13 12:38] #13 closed

[2016-05-13 17:03] rhewitt22 commented on #13
@zengabor I didn't realize that `href="#"` was a valid method for pointing to the top of the page; I'd always manually added an element with `id="top"`.  Learn something new every day!

I wrote the navigation module so I can just stick an `e.preventDefault()` call in there.

Thanks for the suggestions!

[2016-05-24 00:10] possibilities opened #15 "window.getComputedStyle(node)['scroll-behavior'] returns true in IE browsers"
Possibly you should remove the and provide a configuration options for this? Happy to PR this if you're in favor.

[2016-06-29 20:56] giorgio79 opened #17 "Demo 7 scroll intoview does not work when the scroll would be upwards"
Just tired playing with the tool at https://zengabor.github.io/zenscroll/ and option 7, scrolltoview does not work when the scrolling would need to happen upwards.

[2016-07-19 13:45] zengabor commented on #17
That's indeed a bug. Thank you for reporting. I am going to fix it.

[2016-07-19 13:45] zengabor commented on #15
Thank you, I will look into this

[2016-07-19 13:58] zengabor commented on #15
Can you help me reproduce this? Which IE versions did you try? How did you find the `true` value?
I could not reproduce this in the following browsers: IE11, IE10, IE9 (and earlier browsers are excluded as they don't support `getComputedStyle()`)

[2016-07-19 13:58] #15 closed

[2016-07-25 19:25] davishmcclurg opened #18 "Horizontal scrolling"
Have you looked into adding support for horizontal scrolling?

Thanks for working on this. It's a nice little library.

[2016-07-26 15:05] MartinMuzatko opened #19 "target blank to anchor"
Hello!
Zenscroll works really great! I have one issue though. When I open a page with a location hash already in place, it does not account for the correct offset.

Is this something zenscroll will not take care of?

Thanks in advance

[2016-07-29 10:39] KeironLowe92 opened #20 "Doesn't work when the anchor is a normal link"
It only seems to work when an anchor is only a hash.

For example, if my anchor is `/our-team/#member_name', clicking on that from a different page is fine, the page changes and the browser automatically scrolls to that point on the page without Zen. But if you click on that link from that page, Zen doesn't work and it automatically snaps to that point.

[2016-07-29 11:34] Julianoe opened #21 "Can't make it work"
I don't know what i'm doing wrong but i can't seem to make it work.
The files are well included into my page's code and i reproduced the example 7 but still it does not work and my browser says "zenscroll is not defined".... what did i miss ?

side question : do you have some working example of smooth scroll in a scrollable div ?

[2016-07-29 15:16] zengabor commented on #21
Hi Julien, can you show me your code? Make sure you follow the install instructions: http://zengabor.github.io/zenscroll/#gettingstarted

You can find some examples for scrolling a div here: http://zengabor.github.io/zenscroll/#7.scrollinsideascrollablediv

Gabor

[2016-07-29 15:16] zengabor commented on #20
This is an implementation choice, so this is expected behavior. The anchor must start with # otherwise Zenscroll won't handle it.

Sorry that it isn't working as you would expect it. The reason is simplicity: the current implementation is reliable as it doesn't need to deal with calculating the final destination. Consider links like this: "../../foo/bar/#baz"

[2016-07-29 15:21] #20 closed

[2016-07-29 15:25] zengabor commented on #18
This would be an easy extension but I think it is needed only rarely so I rather leave it out to keep the script small and simple. I may do it in a separate script file thou as soon as I need this functionality someday. 😊

[2016-07-29 15:25] #18 closed

[2016-08-07 12:28] zengabor commented on #19
When you open a page with a location hash then the browser does the positioning, zenscroll is not activated. If you want animated scrolling on the first page load then you need to use fake hashtags (hashtags that don't point to actual IDs on the page, e.g., "#go-mainarticle"), and a little script that detects and translates those fake hashes to animated scrolling to real IDs. Note, however, that i

[2016-08-07 12:28] #19 closed

[2016-08-07 12:29] #21 closed

[2016-08-07 12:54] zengabor commented on #17
Fixed in v3.2.1

Container elements now must have their `position` CSS attribute set to `relative`, `absolute` or `fixed`. This way positioning works perfectly.

[2016-08-07 12:54] #17 closed

[2016-08-07 12:55] zengabor commented on #6
Unfortunately I don't have access to your code anymore. However, I just released version 3.2.1 which changes the way containers are handled. Could you give it a try?

[2016-08-07 12:55] #6 closed

[2016-08-07 13:02] MartinMuzatko commented on #19
I care more about the initial offset than the animation. Are there alternatives to this approach?

[2016-08-07 13:18] zengabor commented on #19
For the offset you can add some margin or padding to the top of the target element, something like:

[code]

[2016-08-07 19:26] MartinMuzatko commented on #19
@zengabor unfortunately, that won't work out for us, as this would destroy our vertical rhythm. So all I can do is manually check for `location.hash` and apply padding top appropriately.

So, there are no plans to take care of this? Or would this lead to unwanted behavior or is it snot part of the minimal approach of zenscroll?

Thanks for your reply.

[2016-08-07 20:05] zengabor commented on #19
Sorry, Martin, this is indeed something beyond the scope of Zenscroll.

But you can include a one-liner into your script at the end of the body, if you are sure that zenscroll.js has been already loaded before that:

[code]

This will simply adjust the scroll by the specified offset. E.g., to have a 20 pixel offset, you put this before the one-liner: `zenscroll.setup(null, 20)`

You can also fine-

[2016-08-07 20:10] zengabor commented on #19
Just realized that the one-liner above produces an error if the ID in the hash doesn't exist. So you should improve the script a little bit.

[2016-08-08 15:19] MartinMuzatko commented on #19
Thank you @zengabor!

[2016-08-12 20:59] englishextra commented on #21
I had zenscroll 1.0.0 perhaps a year a go or so and still use it https://github.com/englishextra/englishextra.github.io/blob/master/libs/englishextra-ui/js/bundle.js

well today i downloaded with npm as module and it wont work on electron via require and then browserify

Just took the code 3.21 and deleted all the browserify wrapping functions just in a clear manner

it doesnt work

electron debug

[2016-08-12 21:35] englishextra opened #22 "3.2.1 minified version is broken"
Please test before you publish.

https://raw.githubusercontent.com/zengabor/zenscroll/dist/zenscroll-min.js

I wasted 2 hours debugging

Your demo uses unminified version.

BTW Did you test 3.2.1 in Node environment? Browserify (my case) takes non min version and It produces an error with getBoundingClientRect. When remove browserify wrapping stuff, and symply adding a non min version -  the error

[2016-08-13 07:45] zengabor commented on #22
What's the exact error you are getting?

I am not familiar with your environment (electron, browserify). Is there a `window` object and a `window.document` object in your environment?

[2016-08-13 10:57] englishextra commented on #22
Here https://github.com/electron-userland/electron-prebuilt this applies to zenscroll.js

install electron -

npm -g install electron-prebuilt

then create demo app https://github.com/atom-archive/electron-starter

and

npm install zenscroll

get your zenscroll.js that comes after that action in appeared folder node_modules/zenscroll

then in index.html and embed zenscroll.js and in html write one

[2016-08-13 11:35] englishextra commented on #22
here

[code]

OK I see now whats the problem:

You shouldnt bother with testing on electron its because

this zenscroll.to(0,500); either this zenscroll.to(500,0); produces en error
these both are initiated from the start not wrapped in some condition or function

and this zenscroll.toY(500); doesn't

this happens with zenscroll 321 and is ok with zenscroll 100

In production https://english43.her

[2016-08-13 14:25] zengabor commented on #22
If you want to scroll to a specific position, then use `zenscroll.toY()`

`zenscroll.to()` will scroll to a specific element, e.g.,

[code]

You can see these described here: https://zengabor.github.io/zenscroll/#howtouse

[2016-08-13 14:25] #22 closed

[2016-08-13 14:32] englishextra commented on #22
@zengabor Are you listening? Fix this https://github.com/zengabor/zenscroll/blob/dist/zenscroll-min.js - it produces an error. Just after inclusion.

[2016-08-13 14:39] zengabor commented on #22
Can you give me an URL with the error so I can see it happening? Thanks

[2016-08-13 14:58] englishextra commented on #22
jsfiddle.net/englishextra/gemL2ucp  Cheers

[2016-08-13 15:07] zengabor commented on #22
Change `zenscroll.to(0,500)` to `zenscroll.toY(0,500)`

[2016-08-17 12:40] ostrgard commented on #18
@zengabor +1 for this, in case you're counting :)

[2016-08-21 21:02] ezamelczyk commented on #22
Sorry to say but your minified version is really broken.
Here is example with minified version:
https://jsfiddle.net/soberowy/78aj8gns/

And here with normal:
https://jsfiddle.net/soberowy/c1410t4w/

[2016-08-21 21:34] zengabor commented on #22
Thank you very much, @soberowy

My build process was broken and not the latest version was included in the commit. Sorry about that. Fixed in version 3.2.2

[2016-11-20 02:13] cadejscroggins opened #24 "Back button doesn't scroll to previous location"
I expected, after clicking on a link, that clicking the back button would return me to the previous location on the page.

Is this feasible? I'd be happy to submit a pull request if it is.

[2016-11-20 09:55] zengabor commented on #24
First I wanted to do history handling exactly how you describe it. But then I didn't like how it worked on my site (because I had to hit the back button several times when I wanted to navigate back to a previous page).

This is written in README.md:

However, now I think you are right. This should be the normal behavior.

[2016-11-20 21:34] zengabor commented on #24
Fixed in version 3.3.0

[2016-11-20 21:34] #24 closed

[2016-11-25 15:46] leseulsteve opened #25 "Add bower.json file"
A proper bower.json with a main attribute could be very helpful, like in specific gunt tasks (injector..)

[2016-12-06 10:34] davidbwaters opened #26 "Setting 'overflow-x: hidden' breaks it"
Hi, I was going crazy trying to figure out how I broke it, but it was setting `overflow-x` to hidden on the body element because I was experimenting with an off canvas nav that I didn't want to stretch the container. I tweaked the CSS and got it working without hiding the overflow, but it was unpleasant to debug. A workaround or mention in the docs would be awesome.  Thanks.

[2016-12-06 10:50] zengabor commented on #26
Are you sure the issue was caused only by `overflow-x: hidden`?

I did a quick test by setting `overflow-x: hidden` on the [test page](https://zengabor.github.io/zenscroll/) and could not reproduce it. :/

[2016-12-06 20:50] davidbwaters commented on #26
Yes, on the body element.  When I switch it on in the inspector it no longer works. I'll try to share something showing it.

[2016-12-08 14:27] zengabor opened #27 "Error if loaded from within `head`"
If the script is put inside the `head` as opposed to the `body` it causes an error:

    Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'.

[2016-12-11 10:46] zengabor commented on #26
I would be interested in it because I could not reproduce it.

[2016-12-16 19:00] Blastnsmash opened #28 "Intermittently not working on DIV"
I plugged this into a project and on the desktop it seemed to work perfectly. But when you shrink the size of the browser window to a certain height I could get the code to periodically not fire (seemingly random)

Changing this line of code from:

[code]

to
[code]
(just added the <= instead of <)
This corrected the issue but I'm not sure if that is going to create infinite loops or other problem

[2016-12-16 22:32] davidluhr opened #29 "edgeOffset has no effect with anchor link from other page"
When I navigate to a new page with a URL containing an anchor (example.com/about/#team), the anchor loads at the very top edge of the browser (browser default behavior) and the value in edgeOffset does not take effect.

To compensate this, I've implemented the traditional CSS offset:

[code]
This fixes the issue explained above, but with one caveat. If navigate to this new page, the anchor is prop

[2016-12-18 20:23] #26 closed

[2016-12-18 20:24] zengabor commented on #28
Thank you, I will look into this. Can you maybe share the code so I can produce it?

[2016-12-18 20:38] zengabor commented on #29
Can you try a little script like the one below, on page load (after zenscroll has been loaded):

    if (window.location.hash) {
      var targetElem = document.getElementById(window.location.hash.substring(1))
      if (targetElem) {
        zenscroll.to(targetElem)
      }
    }

Never tried but this should make the animated adjustment after page load if there is a hash in the URL.

In this case

[2016-12-18 20:38] #29 closed

[2016-12-18 21:21] zengabor commented on #29
Note that zenscroll could execute the above lines during initialization but what if you wanted to customize the offset? So that's a no-go.

But maybe an adjustment function could be invoked after an optional config, like:

    zenscroll.config(null, 25)
    zenscroll.adjust()

Not sure.

[2016-12-19 17:00] KyleLWatson commented on #28
http://63.229.69.43:999/MegaNavBar/Kyle2.html

Reproduce on desktop Chrome:
-Shrink browser size to 320px x 414px
-Click on Golf then Scroll down and click on lodging. Repeat until it misfires.
-Also reproducible on chrome for android

Please let me know when you're done and I'll take down the link.

[2016-12-22 12:46] davidbwaters commented on #26
Sorry for the delay, took a break from working on that project.  Here is a live demo: http://ppt2.limberlogic.com/demo/videos.html
Click 'Challenges' and it works.  Set `overflow-x` to `hidden` and it fails.  Tested on Chrome, Windows.

[2016-12-22 13:27] zengabor commented on #26
Yes, on this site I can see the issue. Interesting.

Not sure why this happens but I found it how you can fix it: remove `overflow-x: hidden` from `html` (it's in your CSS definition). Boom.

[2016-12-22 13:36] davidbwaters commented on #26
Yes, I figured that out as a workaround, just thought I'd share.  It was just one of those odd/unexpected things that was tricky to debug when everything looked correct.  At least the closed issue will be here for others who may run into it.  Thanks.

[2016-12-22 14:24] zengabor commented on #26
Thank you for that!

[2016-12-22 14:29] zengabor commented on #28
What do you mean by Golf? Where is "lodging"?

[2016-12-22 16:44] KyleLWatson commented on #28
Did you expand the menu?

[2016-12-22 16:45] KyleLWatson commented on #28
Use a browser inspector if you can't find the elements. Let me know.

[2016-12-27 17:30] Blastnsmash commented on #28
https://drive.google.com/file/d/0B-M6Yes83t08ZDZMWFBlcmNBOWc/view?usp=sharing

Please see the screen cast. When I wiggle my mouse cursor then it should have scrolled but didn't.

[2017-01-05 20:59] Naudiz opened #30 "Scrolling broken in Chrome if enclosing DIV is set to "absolute""
I'm experiencing problems using zenscroll in Chrome. It stops working if any of the DIV-containers enclosing the anchor points has a position set to "absolute" in CSS. I have enclosed a very simple example file.
[Scrolltest.zip](https://github.com/zengabor/zenscroll/files/688330/Scrolltest.zip)

It is a very simple file with nothing but a single link and an anchorpoint to jump to. If you delete or

[2017-01-07 12:10] zengabor commented on #30
Thanks for reporting it and the attached zip. This is a bug. It is also reproducible in Safari.

[2017-01-18 03:01] chrisharrisonkiwi commented on #27
Oh no!
This is a bit of a deal-breaker unfortunately, any progress on this?

[2017-01-20 15:37] MartinMuzatko opened #31 "clicks do not trigger hashchange anymore"
Hello!

I have a problem that when listening to `hashchange`, the eventhandler isn't triggered anymore.
works: http://codepen.io/MartinMuzatko/pen/RKpBEx (without zenscroll)
doesn't work: http://codepen.io/MartinMuzatko/pen/zNZLOQ (with zenscroll)

You can test that by clicking the anchors and see what happens.
While the hash is changed, the eventhandler does not work anymore.

Any idea why?

[2017-01-21 22:50] kristapsdz opened #32 "External link doesn't work (related to sites with "parallax" viewing?)"
Try jumping to https://divelog.blue/index.html#gear.  This site uses zenscroll (otherwise, working great!) for its layout.  However, the link doesn't go to the "gear" fragment.  It goes... somewhere else on the page.  Within the page you can jump to the fragment by selecting one of the navigation links or entering the fragment directly.  But when linking from an external page, it doesn't work.

[2017-01-22 20:35] zengabor commented on #31
It's not implemented. Zenscroll needs to be updated to raise this event.

[2017-01-22 21:12] zengabor commented on #32
Would it work if you would remove zenscroll from the page? I didn't have the time to debug this, but note that if the page is called with a hash in the URL then zenscroll is not involved in the scrolling. So this may be a problem that isn't caused by zenscroll but something else in the code.

The good news is that I plan to implement a new logic that would trigger zenscroll on first load to adjust

[2017-01-23 08:59] MartinMuzatko commented on #31
Any other events to listen to after the hash has changed as a workaround?
Thank you for the fast response :)

[2017-01-23 09:29] zengabor commented on #31
Unfortunately, I don't think there would be any other event you could listen to. Of course if you really need it, you can keep polling `window.location.hash` and detect when it changes (e.g., via `setInterval()`).

Well, thank you for reporting. :) I will implement it but not exactly sure when.

[2017-01-23 09:30] zengabor commented on #27
Not implemented yet. Maybe I can implement it this week, we'll see.

[2017-01-31 02:17] kevnk commented on #27
But putting it before the closing `</body>` tag works great still for me ;)

[2017-02-20 07:00] tivac commented on #32
This is affecting https://www.arena.net/#careers as well, sadly.

[2017-02-20 09:35] kristapsdz commented on #32
Oh, I thought I'd updated this.  This is *not* zenscroll's problem.  The problem is in `load` events causing page dimensions to change:

1. jump to `#location` in page when DOM content loads
2. `load` event (or other async) inserts content prior to the `#location`
3. actual location of `#location` is pushed "downward"

The solution is easy, fortunately.  After your `load`, trigger a rescroll.

[2017-02-20 20:57] tivac commented on #32
My example doesn't change size at all, I may need to investigate further then.

[2017-03-13 08:39] marcosmbytes commented on #32
+1 for reopening this.

I'm having the exact same issue as @tivac

[2017-03-13 13:24] zengabor commented on #32
@tivac Your situation is interesting, I will investigate why it doesn't work. I am working on Zenscroll 4.0 right now which fixes a few issues and may also include triggering the normal browser link handling, so it will most probably work in special cases as well.

For your case I can already see that if you disable CSS, it works immediately, so maybe it's related to issue #30 ?

[2017-03-13 13:25] zengabor commented on #32
@marcosmbytes Would you mind sharing the related code or URL with me?

[2017-03-13 21:05] marcosmbytes commented on #32
The project I’m working on is not public yet.

Here’s some sample code that displays the behavior.

Tested on OSX. Safari 10 seems to work fine but Chrome 56 has the issue.

Navigate to any link, scrolls fine. Reload the page or open the navigated link in a new window (including the hash) and it will always be at the top. It should be at the anchored item position.

For the sake of testing I added

[2017-03-13 21:26] tivac commented on #32
@zengabor Hmm, maybe. None of the sections with an `id` that are being used as anchors are positioned in any way.

I made as minimal a repro as possible, https://output.jsbin.com/bubabid/#tgt

It should have the green target section visible by default on load, but doesn't.

I then cloned that bin and commented out zenscroll.

https://output.jsbin.com/mulase/#tgt

Which works fine. Still haven't fo

[2017-03-13 21:40] zengabor commented on #32
@tivac and @marcosmbytes I just realized that this is a bug that I already fixed in 4.0 which is not yet released. I estimate it‘s still at least a week until I can release 4.0.

The bug is caused by setting  scrollRestoration to "manual" too early, before the browser has a chance to scroll to the anchor.

I think you can already patch it by changing this piece of code:

    history.scrollRestorat

[2017-03-13 21:45] tivac commented on #32
@zengabor oh awesome! Any chance you'd consider a hopefully-quick `3.3.1` patch release with that fixed?

[2017-03-13 21:48] zengabor commented on #32
Good point! I will probably do that within a day or so.

[2017-03-14 11:17] marcosmbytes commented on #32
I just tested that line change and I still have the issue.

Here's my example, updated with the fix:
[test2.zip](https://github.com/zengabor/zenscroll/files/841050/test2.zip)

Checking further, I see that even removing zenscroll the value for scrollRestoration stays "manual", as if it were cached.

Adding `history.scrollRestoration="auto"` before the `setTimeout` seems to actually fix it for me.

[2017-03-14 11:53] zengabor commented on #32
@marcosmbytes I think this issue is related to #31 which I will implement in version 4.0 soon. I will test it thoroughly one of these days.

[2017-03-14 11:58] zengabor commented on #31
Implementation is already in progress, will arrive in version 4.0 in a week or so. Sorry for the delay.

[2017-03-16 22:07] zengabor commented on #32
Would you mind testing your issues with the 4.0 release candidate?

You can find it here: https://github.com/zengabor/zenscroll/tree/gh-pages

[2017-03-16 22:09] zengabor commented on #31
Would you mind testing the 4.0 release candidate?

You can find it here: https://github.com/zengabor/zenscroll/tree/gh-pages

You have to set the edge offset to zero via `zenscroll.setup(null, 0)` as described under 1.3 here: https://zengabor.github.io/zenscroll/#1.3.limitedsupportforthehashchangeeventandthecsspseudo:target

[2017-03-16 22:10] zengabor commented on #32
@marcosmbytes you probably want to set the edge offset to zero via `zenscroll.setup(null, 0)` as described under 1.3 here: https://zengabor.github.io/zenscroll/#1.3.limitedsupportforthehashchangeeventandthecsspseudo:target

[2017-03-16 22:10] zengabor commented on #30
Would you mind testing the 4.0 release candidate?

You can find it here: https://github.com/zengabor/zenscroll/tree/gh-pages

[2017-03-16 22:11] zengabor commented on #28
Would you mind testing the 4.0 release candidate?

You can find it here: https://github.com/zengabor/zenscroll/tree/gh-pages

[2017-03-16 22:11] zengabor commented on #27
Would you mind testing the 4.0 release candidate?

You can find it here: https://github.com/zengabor/zenscroll/tree/gh-pages

[2017-03-16 22:16] tivac commented on #32
https://output.jsbin.com/sudayim#tgt is using the 4.0 RC.

Looks like it loads scrolled to `#tgt` (:+1:), then animates back up to the start of the page (🐛).

[2017-03-17 06:02] zengabor commented on #32
@tivac Strange but I could not reproduce it. It works fine in all of these browsers: Chrome, Chrome Canary, Safari, Safari Technology Preview, Firefox. It doesn't "animate back up to the start of the page".

By the way, this bin's CSS enabled the native scroll-smoothing via `body { scroll-behavior: smooth}`, so Zenscroll doesn't load in the newest browsers.

🤔

[2017-03-17 06:20] tivac commented on #32
Working fine from home, was being real weird in Firefox Dev Edition and Chrome Stable at work.

¯\\(°\_o)/¯

I'll try it out on the dev arena.net site tomorrow.

[2017-03-17 07:00] marcosmbytes commented on #32
@zengabor working perfect!

The :target thing was just for testing, I'm not actually using it in the project I'm working on, and even if I did I'm using an offset value for it anyway so I would be out of luck.

Great work!

[2017-03-17 08:18] zengabor commented on #29
This is now implemented in the 4.0 release candidate, which you can find here at the moment: https://github.com/zengabor/zenscroll/tree/gh-pages

Would you mind testing it?

[2017-03-17 08:26] zengabor commented on #19
This is now implemented in the 4.0 release candidate, which you can find here at the moment: https://github.com/zengabor/zenscroll/tree/gh-pages

Would you mind testing this functionality?

[2017-03-17 09:41] MartinMuzatko commented on #19
Works as intended! thank you a lot :)

[2017-03-17 17:08] tivac commented on #32
Tried it out again at home and seems fine, I'm not sure what was happening yesterday. Sorry for the false alarm!

[2017-03-17 17:25] Naudiz commented on #30
The RC seems to fix the problem with Chrome, it scrolls properly now. But for some reason it now seems to be broken in Firefox. FF now jumps instantly, without scroll effect.

[2017-03-17 18:22] Blastnsmash commented on #28
After more testing, I think the issue is that there is some other javaccript that is changing the height of the parent scroller after zen scroll executes. The problem is, I need some javascript to listen to the attribute change event on an element in order to execute zen scroll AFTER the parent div height changed.

For whatever reason making the code change I suggested does resolve the issue. Clos

[2017-03-17 18:22] #28 closed

[2017-03-17 19:54] zengabor commented on #30
Thank you very much, I can reproduce it. Looking into it.

[2017-03-17 21:09] zengabor commented on #30
Fixed for Firefox. It was an edge case but very useful. Thank you!

[2017-03-18 06:47] zengabor commented on #32
These issues are now fixed in v4.0.0

[2017-03-18 06:47] #32 closed

[2017-03-18 06:48] zengabor commented on #31
Fixed in v4.0.0

Limitation: edge offset must be set to zero, e.g., `zenscroll.setup(null, 0)`

[2017-03-18 06:48] #31 closed

[2017-03-18 06:49] zengabor commented on #30
Fixed in v4.0.0

[2017-03-18 06:49] #30 closed

[2017-03-18 06:49] zengabor commented on #27
Implemented in v4.0.0

[2017-03-18 06:49] #27 closed

[2017-03-28 02:04] Xalladus opened #34 "Not scrolling on iOS with a fixed header."
I am having an issue with the scrolling not responding at all when I am using my iPhone (safari/chrome) to view the page. It works fine everywhere else. So there must be some little thing I am missing to have this work on mobile.

This is the example codepen.
https://codepen.io/Xalladus/pen/YZOJeX

Please help!

[2017-03-28 14:16] zengabor commented on #34
Thanks for the accurate report, I can reproduce it. Will investigate and fix it

[2017-04-20 00:55] dotnetshadow opened #35 "Page Load offset for anchors"
Hi there,

Great plugin,

I noticed when there is a hashtag in the url, you automatically try to go to the anchor tag on the page. I found that the following prevented this from happening

`if (0 <= diff && diff < 9 ) `

I found with my particular page I needed to remove this statement to get it to go to the correct location. I had a fixed header on the page. I know you use a magic number 9 there

[2017-04-23 21:01] zengabor opened #36 "IE9 error: Object doesn't support property or method 'pushState'"

[2017-04-23 21:06] zengabor commented on #35
Can you show me that page so that I can understand how it could be solved?

`9` is just a number for close proximity. Some browsers (on HD screens?) use floating numbers for pixel values, that's why I have to check for a range here.

I use `window.scrollTo()` for quick speed and instant jump because this happens on load.

[2017-04-23 23:41] dotnetshadow commented on #35
Hi there,

The page is this:
https://www.fantasysportsgame.com.au/rules/

I'm using a modified version of your code to exclude the 9 pixel problem so you won't see the issue unless you inject your version of the code in that page

[2017-04-27 00:23] dotnetshadow opened #37 "Issue with using e.preventDefault()"
I noticed that when I use zenscroll, if I have an anchor tag such as

`<a id="test" href="#">Click Me</a>`

and if I have jquery event attached to this

`$('#test').on('click', function (e) {
    e.preventDefault();
    console.log('test');
});`

That in fact the **e.preventDefault()** doesn't work, in that it shows the # in the url.

I'm either forced to remove the # in the anchor or I have to us

[2017-04-27 17:06] zengabor commented on #37
The short answer would be that yes, that looks like a misuse of an anchor tag, you should use something else, probably a `<button id="test">Click Me</button>` or maybe a `<span id="test">Click Me</span>` instead.

Regarding the expectation on `preventDefault()`: it only prevents the browser's default handling, but not other event handlers. It has a sister though, it's called `stopPropagation()` wh

[2017-04-28 09:13] dotnetshadow commented on #37
Yeah that makes sense.

I was more thinking that lots of people probably make the same mistake and that if they have in their existing javascript e.preventdefault() and suddenly it stops working everywhere just because they added zenscroll, then it could be problematic

[2017-04-29 08:17] zengabor commented on #37
Yeah, that's a good point, I will add it to the README. Thanks for that!

[2017-05-03 06:53] b8ne opened #38 "Not Scrolling"
Just installed this on a second site, because the first site worked a dream...
Having an issue with non scrolling though.

My setup is
[code]

and calling via `zenscroll.toY(el.offsetTop, 1000);`

Ive debugged the issue down to line 125 of zenscroll.js, where `container.body.scrollHeight` is tested.  This is returning the `container.getHeight()` value, so the condition is failing and `scrollStop`

[2017-05-03 22:59] b8ne commented on #38
Update: Found to be an issue with `body: {overflow-x: hidden;}` which was swapping width and height variables of `scrollingElement`.
Not sure why this occurs, as my other site has the same style and zenscroll works.

[2017-05-05 06:37] zengabor commented on #38
I am glad to read you could sort it out. If you share the page with me I can look into it, and maybe find a solution.

By the way, I am just curious: why do you do `zenscroll.toY(el.offsetTop, 1000)` instead of `zenscroll.to(el, 1000)`? If it's because of the offset, you can set it to 0 initially via `zenscroll.setup(null, 0)` or even `zenscroll.setup(1000, 0)` and then just `zenscroll.to(el)`

[2017-06-21 23:53] cannuk opened #39 "Consider changing the way automatic smoothing works"
The current implementation for turning off automatic smoothing makes it hard to use in test environments and other setups. In both tests and in my application, I don't want to have to set a global variable at the window level to turn off this feature. Is there any chance of changing this to be an opt in behavior? Or at the very least maybe the ability to opt out when calling `setup`?

[2017-06-25 09:48] zengabor commented on #39
I see what you need but unfortunately it would be quite hard to change the default auto opt-in (which was implemented this way because I thought most people want this by default).

So why not fork the code? Only a single line needs to be changed: https://github.com/zengabor/zenscroll/blob/dist/zenscroll.js#L258

[2017-08-10 07:56] MartinMuzatko opened #41 "Provide selector to exclude specific links"
Hi there!
I'm using anchors together with custom dialogs and custom dropdowns.
Is there a way to exclude some anchors from being targeted from zenscroll?

Thanks

[2017-08-10 08:06] zengabor commented on #41
Does the reply for #37 answer your question?

[2017-08-10 08:47] MartinMuzatko commented on #41
Thanks for the quick answer @zengabor. Unfortunately no. I'm using zenscroll in a project based on Atlassian UI: https://docs.atlassian.com/aui/latest/docs/dropdown2.html
Which relies on using anchors for targeting dropdowns/dialogs. So _custom_ is not entirely true. I don't have control over these.

[2017-08-10 12:55] zengabor commented on #41
So you don't have control over the JavaScript but have control on the HTML? You want to mark up the anchor tag, something like `<a href="..." data-zenscroll="disable"...`?

[2017-08-14 20:21] KurtPreston opened #42 "True zen recognizes the relativity in all things"
Hey, great package!  Recently noticed an issue where zenscroll will not successfully scroll to any element contained in a `position: relative` div.
Demo here:
http://requirebin.com/?gist=ae3708359c2ad71651d03fb9bdfc9115

In it, you will see three buttons.  The second one will not work because div `b` is contained inside a div with `position: relative`, and will instead scroll to the top of the con

[2017-08-26 11:24] zengabor commented on #42
Thank you very much for reporting it, especially that you prepared an example. I am looking into it.

Great subject by the way! :)

[2017-08-29 07:33] afikg opened #43 "Scrolling not working"
Hi,
i need help with my zen scroll which is not working for me anymore.
can someone take a look at the code?

**_setup:_**
[code]
_**html:**_

[code]

Thanks

[2017-08-30 19:18] gmerabishvili opened #44 "Change Navigation Active Class on Page Scroll."
Hello, I have  fixed header and want to add an active class on href when I scroll to the target Id section. Can you help me?
Thank you.

[2017-09-05 12:22] fagri commented on #18
@zengabor +1 for this. It would be useful for projects with lists like Asana, Zenhub. Open a list and scroll into view..

[2017-09-10 08:57] zengabor commented on #44
Wrote another little library exactly for that purpose earlier but I never publish it. So I just put it here for you: https://gist.github.com/zengabor/aa87f9c1e37176c7b9480ca35f7fb940

You can use it like this:

    Zenspot.watch(myContentDiv1, changeActiveClass1)

So if you scroll and `contentDiv1` becomes visible then your function `changeActiveClass1` is invoked.

You can also define what should

[2017-09-10 08:57] #44 closed

[2017-09-12 01:21] dawaltconley opened #45 "Issue scrolling on Safari"
I'm having an issue where a custom scroller (created by `zenscroll.createScroller`) fails to scroll in Safari (v10.1.1). The normal `zenscroll.to(etc)` functions work, but the custom scroller fails, no matter what element I give it as the scrollable element. This includes the documentElement, which is what I assume the basic functions are using, and which works in Chrome/Firefox with a custom scro

[2017-11-05 18:18] HamedFathi opened #46 "[Request] @types for zenscroll (support typescript)"
I tried to create a `.d.ts` file for supporting typescript, but there were some problems and no one help me yet.

[zenscroll Declaration File (@types/zenscroll)](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/20241)

[How to write .d.ts file and export modules correctly in typescript?](https://stackoverflow.com/questions/47108145/how-to-write-d-ts-file-and-export-modules-correctly-in-type

[2017-11-22 16:45] canado opened #48 "Zenscroll and requirejs"
How can I load zenscroll and use it under a requirejs website ?

thanks

[2017-12-18 00:24] RossThorn opened #49 "Zenscroll not working in Chrome"
I'm using zenscroll in my website and it works perfectly in firefox. However, when I use it in chrome it doesn't work.

This is the button I attach it to, with only some styling attached to .portbutton and .button-text.

[code]

[2017-12-18 18:19] shockey opened #50 "Importing Zenscroll in a React project brings down my entire application"
[code]

I'm trying to use Zenscroll in a React project (http://ppf.audio), but upon importing the module like so:

[code]

I get a particularly nasty error that breaks my application:

[code]

I'm not doing anything with the `zenscroll` reference - just importing it.

[2017-12-18 19:29] shockey commented on #50
Update: this is happening to `swagger-ui` users as well, see referenced issue above. The underlying issue appears to be that running a bundle that includes a reference to Zenscroll before `document.body `is available (i.e., a synchronous `<script>` tag in the document head) blows everything up.

[2017-12-29 21:05] adleviton commented on #38
Thanks @b8ne , this lead me to find that having body { height: 100%; } was preventing zenscroll from working, for me at least. Sorry if I missed that in the instructions somewhere.

[2018-01-06 09:26] Folyd opened #51 "Any plan to support horizontal scrolling?"
**Zenscroll** is awesome! I love it.  But I wish zenscroll can support horizontal scrolling.

Any plan to support horizontal scrolling? 😃

[2018-01-07 20:04] zengabor commented on #51
No. I don't need it since I always try to avoid any kind of horizontal scrolling.

See more comments at #18

[2018-01-07 20:04] #51 closed

[2018-01-07 20:06] zengabor commented on #50
Thank you for reporting, it's a shame. I will look into that.

[2018-01-07 20:07] zengabor commented on #49
Could you find a solution?

[2018-01-07 20:08] zengabor commented on #45
Could you fix the issue?

[2018-01-07 20:09] zengabor commented on #43
Could you find a solution?

[2018-01-08 03:38] RossThorn commented on #49
Thanks for responding!

No I wasn't able to find one.

I use it on [my website](https://rossthorn.github.io). Any ideas?

[2018-01-09 22:09] pitAlex commented on #42
Its because the library is made to use elem.offsetTop. But you should change it to walk up the given element's parents until it reaches the zenscroll container.
Is the fix planned any time soon?

[2018-01-11 16:56] obscuredetour commented on #49
I think I found a solution to Zenscroll not working in Chrome.

For whatever reason the issue seems to be the CSS property `scroll-behavior: smooth`. Omitting this CSS property in Chrome allows Zenscroll to function properly.

I was unable to test the fix on @RossThorn's website due to a 404 on the zenscroll-min.js resource.

In any rate, this omission did fix the issue for me and the [website](ht

[2018-01-11 17:18] RossThorn commented on #49
Thanks @obscuredetour! I'll try your solution and let you know!

[2018-01-12 23:47] dargue3 opened #52 "Importing zenscroll causes Next.js app's back button to error"
Was importing zenscroll into the `<App>` component of my server-rendered (`nextjs v4.2.2`) app. Whenever I would hit the back button I would get a cryptic error that blocked the back button functionality:

`Uncaught (in promise) TypeError: Parameter 'url' must be a string, not undefined`

The only further information I can provide is that hitting the back button leading you back to the page **that

[2018-01-20 08:19] #38 closed

[2018-01-27 16:55] RossThorn commented on #49
Omitting the `scroll-behavior: smooth` doesn't work for me in Chrome and actually makes it not work in Firefox as well.

[2018-01-29 21:26] dawaltconley commented on #45
Just looked into this again. At least now, Safari(v10.1.2) scrolls when the custom scroller takes the document body as the scrollable element, but not the documentElement. Meanwhile, Chrome (63.0.3239.132) and Firefox (58.0.1) only scroll the documentElement, and _not_ the document body.

I tested this on one of my sites with nothing fancy in the way of scrollable divs-within-divs. Also tested at

[2018-01-30 00:34] pukapukan commented on #52
Came across the same issue.  It seems like the zenscroll's popstate conflicts with next.js's router.  is there a way to disable forward/back button support in zenscroll?

[2018-01-30 00:43] pukapukan commented on #52
Should've read the doc first.  Setting window.noZensmooth=true resolves the issue.

https://github.com/zengabor/zenscroll#disabling-automatic-smoothing-on-local-links
https://github.com/zengabor/zenscroll/blob/dist/zenscroll.js#L258

[2018-02-06 13:57] meydominic commented on #50
Any updates on this issue?

[2018-02-28 14:22] MartinClement opened #54 "isNativeSmoothScrollEnabledOn Issue"
Hi,

I tryed to update senscroll lib form 3.3.0 to 4.0.0 and I'm encountering an issue with the isNativeSmoothScrollEnableledOn function.

In chrome I get this error:

The difference between those two versions for this function is that the 4.0.0 one is not containing the condition "elem !== null" anymore.

v4.0.0
`	var isNativeSmoothScrollEnabledOn = function (elem) {
		return ("getComputedStyle"

[2018-02-28 20:44] zengabor commented on #54
Thank you, I am fixing this right now, and will release 4.0.1 soon

[2018-02-28 21:02] zengabor commented on #54
Version 4.0.1 is released with the fix. Sorry about this bug!

[2018-02-28 21:02] #54 closed

[2018-02-28 21:03] zengabor commented on #50
Version 4.0.1 is released with the fix. Sorry about this bug!

[2018-02-28 21:03] #50 closed

[2018-02-28 21:04] zengabor commented on #52
Thanks for investigating the issue and finding a fix!

[2018-02-28 21:04] #52 closed

[2018-02-28 21:05] zengabor commented on #49
Hi @RossThorn, I would like to look into this issue. Can this issue reproduced somewhere?

[2018-02-28 21:57] zengabor commented on #41
You can add the `noZensmooth` class to those anchors you want to exclude.

[2018-02-28 21:57] #41 closed

[2018-02-28 22:20] zengabor commented on #36
Fixed in v4.0.2

[2018-02-28 22:20] #36 closed

[2018-03-01 04:50] Finesse commented on #20
@zengabor Browser calculates the final link URL when you get the `href` value:

[code]

So you can compare the link and the document URL safely:

[code]

Please consider this comment as reopening this issue.

[2018-03-01 04:56] zengabor commented on #20
Fair point

[2018-03-01 04:57] Finesse commented on #20
@zengabor I updated [my comment](https://github.com/zengabor/zenscroll/issues/20#issuecomment-369473279) with a solution suggestion. Could you please view it?

[2018-03-01 05:17] Finesse opened #55 "Scroll to <a name="anchor"></a> doesn't get smooth"
Hello! Zenscroll is the best anchor scroll library I've found, I really like it.

But it has a disadvantage: when you click a link pointing to an element like `<a name="about"></a>` the scroll doesn't get smoothed. Demo: https://codepen.io/TheFinesse/pen/QQYqQB.

#### Suggested solution

Change [the line 328](https://github.com/zengabor/zenscroll/blob/dist/zenscroll.js#L328) from

[code]
to
[code]

[2018-03-01 05:31] Finesse commented on #34
The scroll works when the page is not in an iframe (e.g. in CodePen debug mode)

[2018-03-01 05:39] Finesse commented on #48
[code]

[2018-03-01 06:12] Finesse opened #56 "Scroll animation hits page bottom"
Imagine there is a page 2000px height. The screen height is 900px. The target block top Y position is 1700px.

If you are at the top of this page and click a link pointing to the block, an smooth starts. The scroll goes smoothly and stops sharply hitting the bottom of the page.

It happens because the page has the maximum scroll Y equals 1100px (page height - screen height) while Zenscroll tries t

[2018-03-01 06:34] Finesse commented on #37
@zengabor This issue can be fixed in a really simple way. Add this code to the beginning of the window click listener:

[code]

It checks whether the click event default was prevented and exits if it was.

[2018-03-01 09:56] Finesse opened #57 "Scroll up from the bottom of the page doesn't work"
How to reproduce:

1. Make a page with a horizontal scroll bar at the bottom.
2. Scroll manually to the very bottom of the page.
3. Try to scroll up using Zenscroll: `zenscroll.toY(0)`.

Zenscroll will scroll a bit and stop. This expression become equals `false` and makes it stop:

[code]

It is false because `container.getHeight() + y` > `container.body.scrollHeight`. It happens because `window.i

[2018-03-01 10:08] zengabor commented on #57
Thank you so much! Will include this fix in the next release

[2018-03-01 19:52] shockey commented on #50
Thanks, @zengabor & @leocaseiro!

[2018-03-02 04:14] dotnetshadow opened #58 "Zenscroll offset doesn't work on localhost"
Hi there,

I use the following code to scroll with an offset
[code]

I noticed that when developing locally this doesn't work, but when I publish the same page to a site it works. Is there code that detects a domain?

[2018-03-08 19:05] RossThorn commented on #49
Hi @zengabor! I have just redesigned my website from scratch and haven't gotten around to reimplementing zenscroll. But I will let you know when I do and if the problem still shows up!

[2018-05-08 21:39] leereichardt opened #59 "Not working in MS Edge, IE or Safari"
When trying to scroll to an element, I'm getting an error of scrollHeight is undefined on the object.

This is the problematic line

`if (p < 1 && (container.getHeight() + y) < container.body.scrollHeight) {`

when I console out container on Chrome, I get the expected result (HTML tag). When I console it out on the other browsers, I basically get the result of this

[code]

Any ideas?

[2018-05-08 23:25] leereichardt commented on #59
My JS is built with Webpack. Not sure if this is an issue

[2018-05-10 08:23] zengabor commented on #59
Thank you, I will try to reproduce this

[2018-05-28 22:42] leereichardt commented on #59
Have you been able to replicate this? I see the example page is working fine in these browsers so I'm not sure what the difference is?

[2018-05-29 06:52] zengabor commented on #59
No, I could not reproduce it. Is there a public page where I can see the issue?

[2018-06-10 17:09] lnorton89 commented on #8
I'm experiencing this issue on 4.0.2 with webpack 4.10.2. Any chance this has come back?

```import zenscroll from 'zenscroll'``` is my import.

[2018-06-27 05:38] Diego-Fu opened #60 "Zenscroll broken on Chrome"
Looks it works fine on safari but chrome on mac don't, some help?

[2018-07-06 14:25] AlecRust opened #61 "Allow disabling of default anchor scrolling"
I have some links with `href="#"` in my app, and been reading through https://github.com/zengabor/zenscroll/issues/13 and https://github.com/zengabor/zenscroll/issues/37 since I have the same issue. I want to call Zenscroll programmatically without this default behaviour.

It feels like the [Disabling automatic smoothing on local links](https://github.com/zengabor/zenscroll#disabling-automatic-smo

[2018-07-07 06:43] zengabor commented on #61
`window.noZensmooth = true` should work if it’s set before the script is loaded.

However, you can also add a class to the individual links to exclude them:

    <a href="#about" class="noZensmooth">

This is described in [1.6](https://github.com/zengabor/zenscroll#16-exclude-a-link-from-the-automatic-smooth-scrolling)

[2018-07-07 06:57] AlecRust commented on #61
`window.noZensmooth = true` doesn’t work for me, I’m `require`ing Zenscroll and wherever I try to disable it within my app doesn’t work.

Seems the disabling only works in the simpler case where you can control load order? Shouldn’t setting that property always work even if it’s set later?

[2018-07-07 09:42] zengabor commented on #61
Yes, you are probably right. I should change this.

[2018-07-11 19:00] zengabor commented on #60
Can you help me reproduce your issue? Do you have a URL where I can see the problem?

[2018-08-08 22:25] josheche opened #62 "Minified version 4.0.2 broken, update settings not working"
Simply tried updating settings with `zenscroll.setup(null,90)` and would be able to confirm the argument values in the console. Everything should have functioned, but it didn't.

Switched to the unminified version and everything began working without changing a thing.

[2018-08-10 08:43] Arlodotexe commented on #59
I'm also getting this issue in Edge and am also building with Webpack. I really want to use Zenscroll but if it doesn't work in all major browsers then I can't....

[2018-08-10 08:51] Arlodotexe commented on #59
It works in Edge if you don't bundle it with webpack

[2018-08-10 11:24] zengabor commented on #59
I wish I could work on this but I am very busy with other stuff now.

Any chance you could investigate and help me fix it?

[2018-08-17 08:39] Arlodotexe commented on #59
Unfortunately not right now, I have far too many active projects going

[2018-08-24 08:11] mt-deva commented on #62
Yep, I'm getting `t.getBoundingClientRect is not a function` again

[2018-09-11 18:44] garrettmaring opened #63 "Add support for `toX`"
To operate just like `toY` but for horizontal containers.

[2018-09-20 17:35] zengabor commented on #63
Unfortunately I am not interested in this. I always try to avoid horizontal scrolling. But it's doable by followying the vertical scrolling logic.

[2018-09-20 17:35] #63 closed

[2018-10-20 01:30] joe-askattest commented on #59
Fyi for anyone else encountering this; I hit what looked like this exact bug. It turned out it was because I had to make a scroller for it it to work in Edge and Safari. i.e. `zenscroll.createScroller( area ).to( target )`

If you have the smooth scrolling setup then it works In Firefox and Chrome *without* a scroller. As a result it looks like it works in some browsers, but not others.

[2018-11-07 07:17] stratboy opened #64 "Easing"
Hi, thank you for your code. Though, zenscroll lacks a key feature that can make it stand above the good old jquery.animate: easing functions. This is basically the only thing jquery.animate lacks, so, I'll choose zenscroll when it will implement ;)
For example, [jump.js](http://callmecavs.com/jump.js/) is a delicious scroll engine which do have easing functions. but it's made for modern js workfl

[2018-11-21 22:42] mirabilos opened #65 "Please issue an Open Source licence"
The “Unlicense” is not a licence but a Public Domain dedication. These are not valid in many countries, e.g. most of the EU except the UK.

Please assign a copyright licence as fallback in those jurisdictions in which your Public Domain dedication is not acceptable, ideally something like [MIT](https://opensource.org/licenses/mit-license.php) or [MirOS](http://www.mirbsd.org/MirOS-Licence.htm), or

[2018-11-22 00:42] mirabilos commented on #65
Incidentally, https://github.com/zengabor/zenscroll/blob/e71b5c9a95ebb015001397d19deefcba01a2c0f4/zenscroll.js#L5-L7 is contradictory: Public Domain literally means absence of copyright protection, so, by the © statement, this might not match what you were intending.

Using a proper OSS licence, on the other hand, grants others the rights needed in most, if not all, jurisdictions.

[2018-11-22 04:58] zengabor commented on #65
Thanks for your comments, I will look into this

[2018-11-22 05:06] zengabor commented on #64
Thanks for the suggestions. Actually, Zenscroll does have easing, both at the start and the end of the scrolling. That's why it's so smooth. But it's true that it's not configurable: it's always the same easing algorythm. I chose this delibarately. There are other libraries that support easing configurability, see for example this: https://github.com/cferdinandi/smooth-scroll#easing-options

[2018-11-22 05:06] #64 closed

[2018-11-22 07:04] stratboy commented on #64
I really like smooth-scroll and I contributed a bit to it, suggesting a way to implement adaptive scroll timing, now up and running (maybe you should too ;)), but I personally don't like too much it's approach of accepting anchors as targets on the constructor, instead of the real target objects like zenscroll (and jquery.animate) do.

[2019-06-19 11:08] GuidoJansen opened #67 "Please provide setup for default callback"
The 4 scrolling function have a parameter onDone, but there is no way of setting up a default onDone function for every anchor link scrolling, if finished.

[2019-06-20 12:28] JayBox325 opened #68 "Scrolling works on second anchor click only."
Hi,

Firstly, really nice library. Such an easy implementation of a common feature. 👍🏼

But I'm finding that when I click an anchor link the first time, it jumps with the browser's expected behaviour. But, when I click the same anchor a second time, it works with the smooth scrolling.

I haven't been able to see anythig about any special implementation that I'd have needed so here is my project ma

[2019-06-24 20:30] zengabor commented on #68
Hi, can you give me a page where this is reproducable? Would be great to fix it.

[2019-06-24 20:31] zengabor commented on #67
That's a very good idea. Looking forward to implementing it in a future version.

[2019-06-25 17:48] JayBox325 commented on #68
I've invited you to a project. Just need to npm i or yarn to get up and running. I haven't been able to reproduce it on Codepen. I have set up a `feature/scroll-issue` branch, but I'll make it as easy as possible.

Just run `npm i` or `yarn` to get set up then run `npm start`.

The scroll element is the "Next workshop" link in the hero section, click it once and it jumps, click it a second time an

[2019-07-26 15:17] JayBox325 commented on #68
@zengabor, I have pushed this project to a development server so you can witness it, but I'm still not sure what's causing the delay.

[2019-08-07 01:09] Lee182 opened #69 "Nice to be able to query if an element is viewable"
Here is the code I would like to simplify
[code]
[code]

[2019-08-13 17:53] TiagoPortfolio commented on #43
I was having a similar problem, I think there is an issue when using `position: relative;`

[2019-08-23 10:28] TiagoPortfolio commented on #42
![One Eternity Later](https://i.ytimg.com/vi/U7CZcd-UYmU/maxresdefault.jpg "One Eternity Later")

[2019-10-27 11:09] OmegaRidleyy opened #70 "OnDone function of 'toY' triggers before last scroll"
i've got a list of divs. On the scroll event of the container div i check if i stopped scrolling with setTimeout and clearTimeout. When stopped, i center one of the divs with 'toY' and in the OnDone function i call the clearTimeout once more. But somehow for some reason the scroll event of the container div still gets called once more at the end. but only once and i can't find out why.

[code]

co

[2019-11-08 18:29] zengabor commented on #70
Would you mind trying it with promises? Here's a version with promises: https://gist.github.com/zengabor/a1aad539e1567d6e9c1168d11380c5fa

[2019-11-08 18:33] #62 closed

[2019-11-08 18:37] zengabor commented on #61
Here's a variant where this has been fixed: https://gist.github.com/zengabor/a1aad539e1567d6e9c1168d11380c5fa

[2019-11-08 18:37] #61 closed

[2019-11-08 18:37] #43 closed

[2019-11-08 18:37] #25 closed

[2019-11-08 18:38] #45 closed

[2019-11-08 18:39] #48 closed

[2019-11-08 18:39] #49 closed

[2019-11-08 18:46] zengabor commented on #55
Thank you very much. I have included your change in this beta version: https://gist.github.com/zengabor/a1aad539e1567d6e9c1168d11380c5fa

[2019-11-08 18:46] #55 closed

[2019-11-08 18:51] zengabor commented on #57
This change is now included in this beta version: https://gist.github.com/zengabor/a1aad539e1567d6e9c1168d11380c5fa

[2019-11-08 18:51] #57 closed

[2019-11-08 18:52] #59 closed

[2019-11-08 18:52] #60 closed

[2019-11-09 01:10] Finesse commented on #57
Thank you

[2020-02-26 21:52] pat-flew opened #71 "Bug in stopScroll timeout"
I stumbled on an issue where the scroller will stop scrolling midway during a scroll. This would happen occasionally if the user was calling scrollToY repeatedly. I haven't checked other cases.

This line was the cause of the issue:

``setTimeout(stopScroll, 99) // with cooldown time``

The timeout in some cases did not fire until after another scroll had been started.

I was able to address by sa

[2021-01-21 23:46] ale82to opened #72 "convert to UserScript for mobile browser use"
sorry if this may seems a stupid question is it possible to convert zen scroll to a user script, in order to get an overall smoother scroll for every page, i d like to use it in kiwi browser for android wich supports UserScripts
thanks.

[2021-02-10 21:24] kaytuca commented on #68
I want to offer some information that may help with having to double click the anchor to get zenscroll to scroll (or when it won't scroll at all).

-- sometimes caused by HTML errors before the anchor.
Errors that have caused either a need to double-click or no scrolling include:
*an "id" missing one or both of the quotation marks
*a missing "id"
*a duplicated "id"
*a typo such as a hidden tab ins

[2021-04-02 06:19] a4vg opened #73 "How to use in Next.js"
I'm trying to include zenscroll in a Next.js project adding `import zenscroll from "zenscroll"` in a component. It works fine until I call some function and it crashes with a `TypeError: zenscroll__WEBPACK_IMPORTED_MODULE_4___default.a.setup is not a function` error.

My code looks like this

[code]

I tried
[code]
it's clearly a function, but it doesn't work.

Am I not using zenscroll correctly?

[2021-10-01 06:44] shelleyphant commented on #73
I'm using Gatsby, but they're both react-based, so I would guess implementation is the same. Instead of using **import**, I used **require**

[code]

[2022-07-05 15:47] yann-catlinn commented on #68
I've had the same problem and I found a solution that works for me pretty good!
[https://stackoverflow.com/questions/60952725/anchor-in-nuxt-component-not-working-on-same-page-the-anchor-is-included-on](url)

Here is the code that I included in the router.scrollBehavior.js

[code]

[2022-07-09 15:08] zengabor commented on #73
Hello @a4vg, this would work now with [`v5`](https://github.com/zengabor/zenscroll/blob/zengabor-v5-0-0/zenscroll5.js)

[2022-07-09 15:08] #73 closed

[2022-07-09 15:09] zengabor commented on #70
And here's [`v5`](https://github.com/zengabor/zenscroll/blob/zengabor-v5-0-0/zenscroll5.js) with Promise

[2022-07-09 15:09] #70 closed

[2022-07-09 15:11] zengabor commented on #68
It's possible that [`v5`](https://github.com/zengabor/zenscroll/blob/zengabor-v5-0-0/zenscroll5.js). If not, feel free to reopen

[2022-07-09 15:11] #68 closed

[2022-07-09 15:12] zengabor commented on #65
[`v5`](https://github.com/zengabor/zenscroll/blob/zengabor-v5-0-0/zenscroll5.js) has Apache License, Version 2.0

[2022-07-09 15:12] #65 closed

[2022-07-09 15:13] zengabor commented on #56
Thanks a lot. It has been fixed in [`v5`](https://github.com/zengabor/zenscroll/blob/dist/zenscroll5.js)

[2022-07-09 15:13] #56 closed

[2022-07-09 15:17] zengabor commented on #42
You are right, and sorry about that. I was hoping that eventually all major browsers implement smooth scrolling, which is preferred over a custom JavaScript solution. Fortunately, this [has happened](https://caniuse.com/css-scroll-behavior) since then.

[2022-07-09 15:18] #37 closed

[2022-07-09 15:20] zengabor commented on #34
Can't reproduce this anymore, possibly because Safari on iPhones now supports the smooth scrolling behavior, see https://caniuse.com/css-scroll-behavior

[2022-07-09 15:20] #34 closed